<form method="get" id="selectionForm">
    <select name="groupId" onchange="document.getElementById('selectionForm').submit();">
        <option>-- Selecteer een groep --</option>
        @foreach (var group in Model.AllGroups)
        {
            if (Model.GroupId == group.GroupId)
            {
                <option value="@group.GroupId" selected>@group.Name</option>
            }
            else
            {
                <option value="@group.GroupId">@group.Name</option>
            }
        }
    </select>

    @if (Model?.GroupId != null)
    {
        <select name="circuitId">
            <option>-- Selecteer een circuit --</option>
            @foreach (var circuit in Model.GroupCircuits)
            {
                if (Model.CircuitId == circuit.CircuitId)
                {
                    <option value="@circuit.CircuitId" selected>@circuit.Name</option>
                }
                else
                {
                    <option value="@circuit.CircuitId">@circuit.Name</option>
                }
            }
        </select>
    }
    else
    {
        <select name="circuitId" disabled>
            <option>-- Selecteer een circuit --</option>
        </select>
    }

    <input type="submit" value="Laad resultaten" />
</form>
