@model KartStatsV3.Models.LapTime

<h2>Maak rondetijd aan</h2>

@using (Html.BeginForm())
{
        <div class="form-group">
        @Html.Label("Circuit")
        @Html.DropDownListFor(model => model.CircuitId, ViewBag.Circuits as SelectList, "-- Selecteer Circuit --", new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CircuitId)
        </div>

        <div class="form-group">
        @Html.Label("Minuten")
        @Html.TextBoxFor(model => model.Minutes, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Minutes)
        </div>

        <div class="form-group">
        @Html.Label("Seconden")
        @Html.TextBoxFor(model => model.Seconds, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Seconds)
        </div>

        <div class="form-group">
        @Html.Label("Milliseconden")
        @Html.TextBoxFor(model => model.Milliseconds, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Milliseconds)
        </div><br>


        <button type="submit" class="btn btn-primary">Aanmaken</button>
}
